
body{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Putting buttons in their correct spot */
#container{
  border-radius: 5px;
  margin-top: 30%;
  width: 400px;
  height: 550px;
  border: 1px solid white;
  background-image: linear-gradient(135deg, #C020D0, #8432DF, #4743EF);
  display: grid;
  grid-template-areas: 
    "display display display display"
    "secondary-display secondary-display secondary-display secondary-display"
    "clear percent negative divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals"
  ;
}

#display{
  font-family: "Blanka", sans-serif;
  max-height: 30px;
  text-align: right;
  color:#f7dc0a;
  grid-area: display; 
  border-bottom: 4px solid rgb(247, 244, 244);
  margin-top: 20px;
  margin-bottom: -70px;
}

#secondary-display, #fake-display{
  font-family: "Blanka", sans-serif;
  font-size: 25px;
  height: 60px;
  margin-bottom: -70px;
  text-align: right;
  grid-area: secondary-display;
}

#clear{
  font-size: 12px;
  grid-area: clear
}

#percent{
  grid-area: percent
}

#negative{
  grid-area: negative;
}

#divide{
  grid-area: divide;
}

#seven{
  grid-area: seven;
}

#eight{
  grid-area: eight;
}

#nine{
  grid-area: nine;
}

#multiply{
  grid-area: multiply;
}

#four{
  grid-area: four;
}

#five{
  grid-area: five;
}

#six{
  grid-area: six;
}

#subtract{
  grid-area: subtract;
}

#one{
  grid-area: one;
}

#two{
  grid-area: two;
}

#three{
  grid-area: three;
}

#add{
  grid-area: add;
}

#zero{
  grid-area: zero;
}

#decimal{
  grid-area: decimal
}

#equals{
  grid-area: equals;
}

/* Regular css continues */
button{
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

button:hover{
  cursor: pointer;
  filter: brightness(55%);
}

button:active{
  filter:brightness(20%);
}

footer{
  margin-top: 40px;
}
