:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #130c08;
}


@media (max-width: 450px){
  #container{
    width: 300px;
    height: 412.5px;
    ;
  }
  #display{
    margin-top: 5px;;
  }
  button{
  width: 75px;
  height: 100%;
  }
  #zero{
    width: 150px;
  }
}

